<html>
    <head>
        <title>Est-ce que c'est bientôt ... {{ bientot.title }} ?</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
    </head>

    <body>
	<div>
		<center>
		    <h1>{{ bientot.msg }}</h1>
		</center>
	</div>
    </body>
</html>
